.neu_search{
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.neu_list{
  max-height: calc(100vh - 8.6rem);
  overflow-y: auto;
  margin: 0 -15px;
}
.neu_list>div>a{
  cursor: pointer
}