.neu-btn-logout{
  font-weight: 500;
  color: #d4d4d4;
  border-color: #d4d4d4;
  background-color: transparent;
}
.navbar-brand{
  line-height: 50px;
  vertical-align: middle;
  padding: 0 10px; 
}
.navbar-top-links.navbar-right>li>a{
  cursor: pointer;
    padding: 0 10px;
    line-height: 50px;
}