<form class="container-fluid">
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="fullName">Họ và tên</label>
      <input name="fullName" id="fullName" ([ngModel])="contact.fullName" type="text" class="form-control" required>
    </div>
    <div class="col-md-6 form-group">
      <label for="phoneNo">Số điện thoại</label>
      <app-phone-nos [phoneNos]="contact.phoneNo"></app-phone-nos>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label for="address">Địa chỉ</label>
      <input name="address" id="address" [ngModel]="contact.address?.full" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-group">
      <label for="email">Email</label>
      <input name="email" id="email" ([ngModel])="contact.email" type="email" class="form-control" placeholder="diachi@email.com">
    </div>
    <div class="col-md-2 form-group">
      <label for="gender">Giới tính</label>
			<select name="gender" id="gender" [ngModel]="contact.gender" class="custom-select d-block w-100">
        <option value="undefined">Chọn..</option>
        <option value="0">Nam</option>
        <option value="1">Nữ</option>
      </select>
    </div>
		<div class="col-md-2">
			<label for="birthYear">Năm sinh</label>
      <app-birth-year [birthYear]="contact.birthYear"></app-birth-year>
		</div>
    <div class="col-md-4">
			<label for="createDate">Ngày tạo</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="dd/mm/yyyy"
            name="dp" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngModel]="contact.createTime | neuDate">
        </div>
      </div>
		</div>
  </div>
</form>
<div class="command_bar row">
  <button class="btn btn-success flex-row ml-auto btn-save" [hidden]="contact.id" (click)="createContact()">Thêm mới</button>
  <button class="btn btn-success flex-row ml-auto btn-save" [hidden]="! contact.id">Cập nhật</button>
</div>