
.birthYear{
  color: inherit;
  width: 60%;
  border: none;
}
.age{
  color: inherit;
  width: 40%;
  border: 1px solid #bbb;
  border-top: none;
  border-bottom: none;
  border-radius: 25%;
  padding: 0 5px;
  text-align: center;
}